<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @measure.value %>
</p>

<p>
  <strong>Time:</strong>
  <%= @measure.time %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @measure.userID %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>
